        <div class="container register-form">
                    <div class="form">
                        <div class="note">
                            <p>Fill the Details to become Registered User.</p>
                        </div>
                        <div class="form-content">
                            <form action="/submit" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                    
                                        <label for="Name">Name:</label>
                                        <input type="text" name="name" class="form-control" placeholder="Your Name *" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="Phone">Phone:</label>
                                        <input type="text" name="phone" class="form-control" placeholder="Phone Number *" value=""/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Email">Email:</label>
                                        <input type="email" name="email" class="form-control" placeholder="Your Email *" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password:</label>
                                        <input type="password" name="password" class="form-control" placeholder="Your Password *" value=""/>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" value = "Submit" class="btnSubmit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
    
